name: Main
on:
  push:
    branches:
      - '**'
    tags:
      - '**'
      - '!v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
jobs:
  test_build:
    name: Test and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Export GOBIN
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Install dependencies
        run: make setup
      - name: Run tests
        run: make test
      - name: Build image
        run: make build_image
