name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

env:
  GO_VERSION: '1.23.2'
  PB_BUILD_VERSION: pipeline-${{ github.sha }}

jobs:
  test_build:
    name: Test and build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Export GOBIN
        uses: actions/setup-go@v4
        with:
          go-version: '${{env.GO_VERSION}}'

      - name: Install dependencies
        run: make setup

      - name: Run tests
        run: make test

      - name: Build
        run: make build
